# Settings, inc AI tools
.vscode/
.claude/settings.local.json
.claude/*.local.*

# Virtual environment
.venv

# Cache
__pycache__
build_utils/__pycache__

# PotM template
potm/paper_summary_template.md